div {
    width: 100%;
    border: 2px solid rebeccapurple;
    /* background-color: rosybrown; */
    float: left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8) {
    width: 50%;
    height:180px;
    background-color: #A630FD;
}

div:nth-child(1) {
    height: 60px;
    background-color: #692BE3;
}

div:nth-child(2) {
    height: 110px;
    background-color: #4F3CFA;
}

div:nth-child(3) {
    height: 100px;
    background-color: #8B97E6;
}

div:nth-child(4) {
    height: 100px;
    background-color: #307AFD;
}

div:nth-child(9) {
    height: 60px;
    background-color: #7284FA;
}

@media(min-width: 768px){
    body {
        max-width: 960px;
        margin: auto;
    }

    div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8) {
        width: 20%;
        height:275px;
        background-color: #99FA15;
    }
    
    div:nth-child(1) {
        height: 100px;
        background-color: #7AE639;
    }
    
    div:nth-child(2) {
        height: 668px;
        width: 20%;
        background-color: #9CFA89;
    }
    
    div:nth-child(3) {
        height: 230px;
        width: 40%;
        background-color: #CCE6CD;
    }
    
    div:nth-child(4) {
        height: 230px;
        width: 40%;
        background-color: #29FF54;
    }
    
    div:nth-child(9) {
        height: 163px;
        width: 80%;
        background-color: #29BB54;
    }
}

@media(min-width: 961px){
    body {
        max-width: 2732px;
    }

    div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8) {
        width: 20%;
        height:275px;
        background-color: #FA0540;
    }
    
    div:nth-child(1) {
        height: 100px;
        background-color: #1C99E6;
    }
    
    div:nth-child(2) {
        height: 668px;
        width: 20%;
        background-color: #EDFA71;
    }
    
    div:nth-child(3) {
        height: 230px;
        width: 40%;
        background-color: #E65B47;
    }
    
    div:nth-child(4) {
        height: 230px;
        width: 40%;
        background-color: #1642BA;
    }
    
    div:nth-child(9) {
        height: 163px;
        width: 80%;
        background-color: #168EBA;
    }
}